# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
# Trained machine-learning models
models/*.pkl
